* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Helvetica, Arial, Sans-Serif;
    background: white;
    color: #070719;
}

h1 {font-size: 2rem;
    text-align:center;
    margin-bottom:0;
}

h2 {text-align:center;
    font-size:medium;
}

a:link, a:visited {
    color:blue;
    text-decoration: none;}

a:hover {
    color:blue;
    text-decoration:underline;}

nav {
    position: fixed;
    top:0px;
    width:100%;
    background: #0A0A2A;
    height: 2rem;
    color: white;
    text-align: right;
    font-size: 1rem;
    padding: .2rem .5rem;
    z-index: 100; /* does't seem to do anything */
}

nav a:link, nav a:visited {
    color:white;
    text-decoration: none;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;q
}

nav a:hover {
    color:#070719;
    background:white;
}

#messages {
    margin: auto;
    margin-top:2.5em;
    margin-bottom: 15px;
    width: 550px;
}

#main {
    margin: auto;
    width: 550px;
    margin-top: 10px;
    margin-bottom:50px;
}

.doc {margin-bottom: 2rem;}

.center {text-align:center;}

.right {text-align:right;}

.left {text-align:left;}

.struck {text-decoration: line-through}

.bold {font-weight: bold;}

.title {font-size:1.15rem;}

.info {font-size:0.75rem}

.notes {font-size:1rem;}

.small {font-size:0.75rem}

.block-center {
    text-align:center;
    margin: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* this might better be described as just "form" */
.login_form {
    margin-bottom:8px;
    padding:2px;
}


.box {
    border: 1px solid #CECEF6;
    padding: 5px 7px 5px 7px;
}

.logo {
    float:left;
    margin: 1 0 0 -25;
}

button[type=submit] {
    background-color: #0A0A2A;
    border: 1px solid #CECEF6;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: .9rem;
    padding: 5px 11px 5px 11px;
    border-radius: 3px;
}

button[type=submit]:hover {
    background-color: #CECEF6;
    border:1px solid #0A0A2A;
    color: #0A0A2A;
}


#multiple_tags ul {
    list-style: none;
    padding-left:0;
}


#multiple_tags li {
    display: inline;
}

#multiple_tags input[type=checkbox] {
    display: none;
}


#multiple_tags input[type="checkbox"]:checked + label {
    background: #0A0A2A;
    color: white;
    padding: 1px 3px 1px 3px;
    border: 1px solid #0A0A2A;
    border-radius: 3px;
}

#multiple_tags input[type=radio] {
    display: none;
}


#multiple_tags input[type="radio"]:checked + label {
    background: #0A0A2A;
    color: white;
    padding: 1px 3px 1px 3px;
    border: 1px solid #0A0A2A;
    border-radius: 3px;
}

/* Remove all decorations to make button look like simple text*/
button.no_button, button.no_button:focus, button.no_button:active {
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
    color: blue;
    font-size:0.75rem;
    font-weight: normal;
}

button.no_button:hover {
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    font-size:0.75rem;
    font-weight: normal;
}



