
{% extends 'header.html' %}
{% block title %} - Authors {% endblock %}
{% block content %}
<div id="main">
    {% set page = 'authors' %}
    {% include 'sort_subheader.html' %}
    <div  style="line-height:1.5em">
    {% if current_user.is_authenticated %}
        {% for author in authors %}
            {% if author.first_name %}
                <a href="{{ url_for('docs_by_author', author_id=author.id) }}">
                    {{ author.last_name }}, {{author.first_name}}</a><br>
            {% else %}
                <a href="{{ url_for('docs_by_author', author_id=author.id) }}">
                    {{ author.last_name }}</a><br>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
</div>
<br>
{% endblock %}