
{% extends 'header.html' %}
{% block title %} - Authors {% endblock %}
{% block content %}
<div id="main">
    {% set page = 'authors' %}
    {% include 'sort_subheader.html' %}
    <div  style="line-height:1.5em">
    {% if current_user.is_authenticated %}
        {% for author in authors %}
            <a href="{{ url_for('docs_by_author', last_name=author.last_name, first_name=author.first_name) }}">
            {{ author.last_name }}, {{author.first_name}}</a><br>
        {% endfor %}
    {% endif %}
    </div>
</div>
<br>
{% endblock %}