{% extends 'header.html' %}
{% block title %} - Bunches {% endblock %}
{% block content %}
<div id="main">
    <h1>Bunches</h1><br>
    <div class="center">Bunches are groups of tags.</div><br>

    {# user's saved bunches #}
    {% if bunches %}
        <div>
        {% for bunch in bunches|sort(attribute='name') %}
            <a href="{{ url_for('bunch', read_status="all", name=bunch.name)}}">{{ bunch.name }}</a>
            <br><span class="small">
            <a href="{{ url_for('bunch_edit', name=bunch.name)}}">edit</a>
            | <a href="{{ url_for('bunch_delete', name=bunch.name)}}">delete</a>
            </span>
            <br>
            <div class="small">
            [ {{bunch.selector}} ] (
            {% for tag in bunch.tags|sort(attribute='name') %}
                {% if tag != bunch.tags|sort(attribute='name')|last %}
                    {{tag.name}},
                {% else %}
                    {{tag.name}}
                {% endif %}
            {% endfor %}
            )
            </div>
            <br>
        {% endfor %}
        </div>
        <br>
    {% endif %}

    {# create new bunch #}
    <div class="small center bold">Create New Bunch</div><br>
    <div class="small">Choose how to group
    the bunch (do you want items tagged
    "tag1" <i>AND</i> "tag2" <i>AND</i> "tag3", etc, or do you want items
    tagged "tag1" <i>OR</i> "tag2" <i>OR</i> "tag3", etc?) and then
    the tags to group together. Submit below, and the items matching the bunch
    will be displayed, with an option to save it.
    </div>

    {# show selector and tags #}
    <form name="bunch" id="bunch" method="post" action="{{url_for('bunches')}}">
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">

        <div id="multiple_tags" class="center">
            <ul>
                <li><input type="radio" name="selector" id="and" value="and" checked>
                <label for="and">AND</label></li>
                <li><input type="radio" name="selector" id="or" value="or">
                <label for="or">OR</label></li>
            </ul>
        </div>
        <div style="line-height:1.5em" id="multiple_tags">
            {# <ul> #}
            {% for tag in tags %}
                <input type="checkbox" name="bunch_tags" id="{{tag.id}}" value="{{tag.id}}">
                <label for="{{ tag.id }}">{{tag.name}}</label><br>
            {% endfor %}
            {# </ul> #}
        </div>
        <div class="center">
        <button type="submit" name="submit" value="Submit">Submit</button>
        </div>
    </form>
    <br><br>
</div>
<br>
{% endblock %}