
{% extends 'header.html' %}
{% block content %}
<div id="main">
    {% set page = '3' %}
    {% include 'sort_subheader.html' %}
    <div class="center">Bunches are groups of tags.</div><br>

    {% if bunches %}
        <div>
        <div class="small center bold">Saved bunches:</div><br>
        {% for bunch in bunches %}
            <a href="{{ url_for('bunch', name=bunch.name) }}">{{ bunch.name }}</a>
            <span class="small">(
            {% for tag in bunch.tags %}
                {{tag.name}}
                {% if tag != bunch.tags|sort(attribute='name')|last %}
                    {{tag.name}},
                {% else %}
                    {{tag.name}}
                {% endif %}
            {% endfor %}
            )</span>
            <br>
        {% endfor %}
        </div>
        <br>
    {% endif %}

    <div class="small center bold">Create New Bunch</div><br>
    <div class="small">Choose how to build the bunch (do you want items tagged
    "tag1" <i>AND</i> "tag2" <i>AND</i> "tag3", etc, or do you want items
    tagged "tag1" <i>OR</i> "tag2" <i>OR</i> "tag3", etc?), and then
    the tags to group together. Submit below, and the items matching the bunch
    will be displayed, with an option to save it. Saved bunches will be displayed
    above.</div>
    <form name="bunch" id="bunch" method="post" action="{{url_for('bunches')}}">
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        <div id="multiple_tags" class="center">
            <ul>
                <li><input type="radio" name="selector" id="and" value="and" checked>
                <label for="and">AND</label></li>
                <li><input type="radio" name="selector" id="or" value="or">
                <label for="or">OR</label></li>
            </ul>
        </div>
        <div style="line-height:1.5em" id="multiple_tags">
            <ul>
            {% for tag in tags %}
                <li><input type="checkbox" name="tags" id="{{tag.name}}" value="{{tag.name}}">
                <label for="{{ tag.name }}">{{tag.name}}</label></li>
            {% endfor %}
            </ul>
        </div>
        <div class="center">
        <button type="submit" name="submit" value="Submit">Submit</button>
        </div>
    </form>
    <br><br>
</div>
<br>
{% endblock %}