
{% extends 'header.html' %}
{% block content %}
<div id="main">
    {% set page = '3' %}
    {% include 'sort_subheader.html' %}
    <div class="center">Edit {{Bunch.name}} Bunch</div><br>

    <div class="small">Choose how to build the bunch (do you want items tagged
    "tag1" <i>AND</i> "tag2" <i>AND</i> "tag3", etc, or do you want items
    tagged "tag1" <i>OR</i> "tag2" <i>OR</i> "tag3", etc?), and then
    the tags to group together. Save below.
    </div>

    {# show selector and tags #}
    <form name="bunch" id="bunch" method="post" action="{{url_for('bunches')}}">
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        <div id="multiple_tags" class="center">
            <ul>
                <li><input type="radio" name="selector" id="and" value="and" checked>
                <label for="and">AND</label></li>
                <li><input type="radio" name="selector" id="or" value="or">
                <label for="or">OR</label></li>
            </ul>
        </div>
        <div style="line-height:1.5em" id="multiple_tags">

            {# do check here if tag in bunch.tags #}

            {% for tag in tags %}
                <input type="checkbox" name="tags" id="{{tag.name}}" value="{{tag.name}}">
                <label for="{{ tag.name }}">{{tag.name}}</label><br>
            {% endfor %}
        </div>
        <div class="center">
        <button type="submit" name="submit" value="Submit">Submit</button>
        </div>
    </form>
    <br><br>
</div>
<br>
{% endblock %}