
{% extends 'header.html' %}
{% block title %} - Contact {% endblock %}
{% block content %}
<div id="main">
    <div class="center">
        <h2>Contact</h2>
        <p class="left">I welcome any comments or questions. If you have any
        problems or want to suggest improvements, you can do so via the form below
        or <a href="https://github.com/kdwarn/wyr/issues">open an issue on
        Github</a>.</p>
        <form name="contact" action="{{ url_for('contact') }}" method="post">
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            {% if not current_user.is_authenticated %}
                <label class="sr-only" for="name">Name</label>
                <input class="login_form" type="text" size="15" id="name" name="name" placeholder="Name"/><br>
                <label class="sr-only" for="email">Email</label>
                <input class="login_form" type="text" size="15" id="email" name="email" placeholder="Email"/><br>
            {% endif %}
            <label class="sr-only" for="comments">Comments</label>
            <textarea cols="40" rows="10" id="comments" name="comments" placeholder="Comments"/></textarea><br><br>
            <button type="submit" name="submit" value="Submit">Submit</button>&nbsp;
            <button type="submit" name="submit" value="Cancel">Cancel</button>
        </form>
    </div>
</div>
{% endblock %}