
{% extends 'header.html' %}
{% block title %} - Edit Item {% endblock %}
{% block content %}

    {# autocomplete from http://jqueryui.com/autocomplete/#multiple #}
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    {# script for autocomplete of tags #}
    <script>
    $(function() {
        var availableTags = {{ all_tags|tojson }};
        function split( val ) { return val.split( /,\s*/ );}
        function extractLast( term ) { return split( term ).pop();}
        $( "#tags" )
        .bind( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB && $( this ).autocomplete( "instance" ).menu.active ) {
            event.preventDefault(); }
            })
        .autocomplete({
            minLength: 2,
            source: function( request, response ) {
                response( $.ui.autocomplete.filter(
                availableTags, extractLast( request.term ) ) );
            },
        focus: function() { return false; },
        select: function( event, ui ) {
            var terms = split( this.value );
            terms.pop();
            terms.push( ui.item.value );
            terms.push( "" );
            this.value = terms.join( ", " );
            return false;
            }
        });
    });
    </script>

    {# script for autocomplete of authors #}
    <script>
    $(function() {
        var availableAuthors = {{ all_authors|tojson }};
        function split( val ) { return val.split( /,\s*/ );}
        function extractLast( term ) { return split( term ).pop();}
        $( "#authors" )
        .bind( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB && $( this ).autocomplete( "instance" ).menu.active ) {
            event.preventDefault(); }
            })
        .autocomplete({
            minLength: 2,
            source: function( request, response ) {
                response( $.ui.autocomplete.filter(
                availableAuthors, extractLast( request.term ) ) );
            },
        focus: function() { return false; },
        select: function( event, ui ) {
            var terms = split( this.value );
            terms.pop();
            terms.push( ui.item.value );
            terms.push( "" );
            this.value = terms.join( "; " );
            return false;
            }
        });
    });
    </script>

<div id="main">
    <div class="block-center">
        <h2>Edit</h2>
        <form method="POST" name="edit" action="/edit">
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            <label class="sr-only" for="title">Title (Required)</label>
            <input class="login_form" type="text" size="40" id="title" name="title" value="{{doc.title}}" placeholder="Title (REQUIRED)"/><br>
            <label class="sr-only" for="link">Link</label>
            <input class="login_form" type="text" size="40" id="link" name="link" value="{{doc.link}}" placeholder="Link (URL)"/><br>

            <label class="sr-only" for="year">Year</label>
            {% if doc.year %}
                <input class="login_form" type="text" size="40" id="year" name="year" value="{{doc.year}}" placeholder="Year"/><br>
            {% else %}
                <input class="login_form" type="text" size="40" id="year" name="year" placeholder="Year"/><br>
            {% endif %}

            <label class="sr-only" for="tags">Tags*</label>
            <input class="login_form" type="text" size="40" id="tags" name="tags" value="{{tags}}" placeholder="Tag(s)"/><br>

            <label class="sr-only" for="authors">Authors**</label>
            <input class="login_form" type="text" size="40" id="authors" name="authors" value="{{authors}}" placeholder="Author(s)"/><br>

            <label class="sr-only" for="notes">Notes</label>
            {% if doc.note %}
                <textarea cols="40" rows="10" id="notes" name="notes" placeholder="Notes">{{ doc.note.replace('<br>', '\n') }}</textarea>
            {% else %}
                <textarea cols="40" rows="10" id="notes" name="notes" placeholder="Notes"></textarea>
            {% endif %}

            <input type="hidden" name="id" value="{{doc.id}}">
            <input type="hidden" name="old_tags" value="{{tags}}">
            <input type="hidden" name="old_authors" value="{{authors}}">
            <br><br>
            <button type="submit" name="submit" value="Submit">Submit</button>&nbsp;
            <button type="submit" name="submit" value="Cancel">Cancel</button>
            <br><br>
            <span class="small">
            {% include 'formatting.html' %}
            <br><br>
            {% include 'markdown.html' %}
            </span><br>
        </form>
    </div>

    <script type="text/javascript" language="JavaScript">
    document.forms['edit'].elements['title'].focus();
    </script>

</div>
{% endblock %}
