{% extends 'header.html' %}
{% block title %} - Forgot Password {% endblock %}
{% block content %}
<div id="main">
    <div class="block-center">
        <h2>Forgot Password</h2>
        <p>Enter your email address and a link will be sent to you to reset your password:</p>
        <form name="forgot" action="{{ url_for('forgot_password') }}" method="post">
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            <label class="sr-only" for="email">Email</label>
            <input class="login_form" type="text" size="20" id="email" name="email" placeholder="Email"/><br>
            <button type="submit" name="send_email" value="Submit">Submit</button>&nbsp;
            <button type="submit" name="send_email" value="Cancel">Cancel</button>
        </form
    </div>
</div>
{% endblock %}