{% extends 'header.html' %}
{% block title %} - Forgot/Reset Password {% endblock %}
{% block content %}
<div id="main">
    <div class="block-center">
        <h2>Reset Your Password</h2>
        {% if forgot == 'do_reset' %}
            <p>Enter a new password and confirm it:</p>
            <form name="forgot" action="{{ url_for('reset_password') }}" method="post">
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                <label class="sr-only" for="password">Password</label>
                <input class="login_form" type="password" size="20" id="password" name="password" placeholder="Password"/><br>
                <label class="sr-only" for="confirm_password">Confirm Password</label>
                <input class="login_form" type="password" size="20" id="confirm_password" name="confirm_password" placeholder="Confirm Password"/><br>
                <button type="submit" name="do_reset" value="Submit">Submit</button>&nbsp;
                <button type="submit" name="send_email" value="Cancel">Cancel</button>
            </form>
        {% else %}
            <p>Enter your email address to reset your password:</p>
            <form name="forgot" action="{{ url_for('forgot_password') }}" method="post">
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                <label class="sr-only" for="email">Email</label>
                <input class="login_form" type="text" size="20" id="email" name="email" placeholder="Email"/><br>
                <button type="submit" name="send_email" value="Submit">Submit</button>&nbsp;
                <button type="submit" name="send_email" value="Cancel">Cancel</button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}