
{% extends 'header.html' %}
{% block content %}

<div id="main">
    <div class="block-center">
        <h2>Import Bookmarks</h2>
            {% if step2 %}
            <div class="left">
                <p>Your bookmarks file contained the folders below. If you do not want
                to import the bookmarks from one or more of these folders, uncheck the
                box next to them. If you have bookmarks in nested folders, only the
                most immediate folder that the bookmark is in will be used as a tag.</p>
                <form method="POST" name="import" action="/import">
                    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                    {% for each in folders %}
                        <input type="checkbox" name="folder" value="{{each}}" checked>{{each}}<br>
                    {% endfor %}
                    <br>
                    <button type="submit" name="step2" value="Import">Import</button>&nbsp;
                    <button type="submit" name="step2" value="Cancel">Cancel</button>
                </form>
            </div>
            {% else %}
            <div>
                <p class="left">Export your bookmarks from your browser and then use the button below
                to select the file you exported. After you submit, you will be able to choose
                which folders you want to upload bookmarks from. Any commas in folder names
                will be removed before being stored as tags, so please rename folders
                if this will be an issue for you.</p>
                <form method="POST" name='import' action="/import" enctype="multipart/form-data">
                    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                    <input type="file" name="bookmarks"><br><br>
                    <button type="submit" name="step1" value="Submit">Submit</button>
                    <button type="submit" name="step1" value="Cancel">Cancel</button>
                </form>
            </div>
            {% endif %}
        <p></p>
    </div>
</div>
{% endblock %}
