
{% extends 'header.html' %}
{% block content %}
<div id="main">
    <div>
        <p>Welcome!</p>
        <p>I built What You've Read to help <span class="struck">me</span>
        you keep track of the books, articles, blog posts, and other things <span
        class="struck">I</span> you've read and saved in various
        places across the internet.</p>
        <p>In addition to gathering scholarly articles
        from Mendeley and books from Goodreads,
        it can also import your browser bookmarks and be used as a reference manager/bookmarking site itself.
        It will display all of the things you've read from the places you choose
        in one simplified, chronological collection - a reading journal - which you can search
        or sort by tags and authors.</p>
        <p>It's free and there are no ads. See screenshots <a href="{{ url_for('screenshots') }}">here</a>.
        Contact me <a href="{{ url_for('contact') }}">here</a>. See Github
        <a href="https://github.com/kdwarn/wyr" target="_blank">here</a>.


    </div>
    <div class="block-center box">
        <h2>Login</h2>
        <form name="login" action="/login" method="post">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
        <label class="sr-only" for="wyr_username">Username</label>
        <input class="login_form" type="text" size="20" id="wyr_username" name="wyr_username" placeholder="Username"/><br>
        <label class="sr-only" for="wyr_password">Password</label>
        <input class="login_form" type="password" size="20" id="wyr_password" name="wyr_password" placeholder="Password"/><br>
        <input class="login_form" type="checkbox" name="remember" id="remember" value="1">
        <label class="login_form small" for="remember">Stay logged in</label><br>

        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        <button type="submit">Login</button><br>
        <p class="small"><a href="{{ url_for('forgot_password')}}">Forget your password?</a></p>
        </form>
    </div>
    </br>
    <div class="block-center box">
        <h2>Sign Up</h2>
        <p class="center small">Username must be unique. You will be
        emailed a link to activate your account.</p>
        <form name="sign_up" action="/sign_up" method="post">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
        <label class="sr-only" for="wyr_username">Username</label>
        <input class="login_form" type="text" id="wyr_username" size="20" name="wyr_username" placeholder="Username"/><br>
        <label class="sr-only" for="email">Email</label>
        <input class="login_form" type="text" size="20" id="email" name="email" placeholder="Email"/><br>
        <button type="submit">Sign Up</button>
        </form>
    </div>
    <p></p>


    <script type="text/javascript" language="JavaScript">
    document.forms['login'].elements['wyr_username'].focus();
    </script>

</div>
{% endblock %}