
{% extends 'header.html' %}
{% block content %}
<div id="main">
    {# subset of documents - describe what is being shown #}
    {% if tagpage or authorpage or bunch_tag_names %}
        <h2>

        {# items by one tag #}
        {% if tagpage %}
            tagged {{tagpage}}
        {% endif %}

        {# items by bunch #}
        {% if bunch_tag_names %}
            tagged
            {% for tag in bunch_tag_names|sort %}
                {% if tag != bunch_tag_names|sort|last %}
                    {% if selector == 'or' %}
                        {{ tag }} or
                    {% else %}
                        {{ tag }} and
                    {% endif %}
                {% else %}
                    {{ tag }}
                {% endif %}
            {% endfor %}
        {% endif %}

        {# items by author #}
        {% if authorpage %}
            by {{first_name}} {{last_name}}
        {% endif %}
        </h2>
    {% else %}
        {% set page = '1' %}
    {% endif %}

    {# if already a saved bunch, show name #}
    {% if bunch_name %}
        <div class="block-center">({{bunch_name}} bunch)</div><br>
    {% endif %}

    {% include 'sort_subheader.html' %}

    {# option to save bunch #}
    {% if bunch_tag_names and not bunch_name %}
        <div class="block-center small">
            To save this group of tags as a bunch, provide a name and submit.
            <form method="POST" name="save_bunch" action="{{url_for('bunch_save')}}">
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                <input type="text" size="15" id="bunch_name" name="bunch_name">
                <button type="submit">Save</button>
                <input type="hidden" name="selector" value="{{ selector }}">
                <input type="hidden" name="tags" value={{tags|safe}}>
            </form>
        </div>
    {% endif %}





    <div>
    {% if current_user.is_authenticated %}
        {% for doc in docs %}
            <div class="doc">
            {% if doc.source_id == 1 %}
                <img class="logo" src="/static/mendeley_logo.png">
            {% elif doc.source_id == 2 %}
                <img class="logo" src="/static/goodreads_logo.png">
            {% elif doc.source_id == 3 %}
                <img class="logo" src="/static/wyr_logo.png">
            {% endif %}

            <span class="title">
            {% if doc.link %}
                <a href="{{ doc.link }}" target="_blank">{{ doc.title }}</a>
            {% else %}
                {{ doc.title }}
            {% endif %}

            {% if doc.year %}
                ({{ doc.year }})
            {% endif %}

            {% if doc.authors %}
                by
                {% for author in doc.authors %}
                    {% if author != doc.authors[-1] %}
                        <a href="{{ url_for('docs_by_author', last_name=author.last_name, first_name=author.first_name) }}">
                        {% if author.role == 1 %}
                            {{ author.first_name }} {{ author.last_name }}</a> (editor),
                        {% else %}
                            {{ author.first_name }} {{ author.last_name }}</a>,
                        {% endif %}
                    {% else %}
                        <a href="{{ url_for('docs_by_author', last_name=author.last_name, first_name=author.first_name) }}">
                            {{ author.first_name }} {{ author.last_name }}</a>
                        {% if author.role == 1 %}
                            (editor)
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            </span>
            <br>
            <span class="info">
            {% if doc.tags %}
                Tagged:
                {% for tag in doc.tags|sort(attribute='name') %}
                    {% if tag != doc.tags|sort(attribute='name')|last %}
                        <a href="{{ url_for('docs_by_tag', tag=tag.name) }}">{{ tag.name }}</a>,
                    {% else %}
                        <a href="{{ url_for('docs_by_tag', tag=tag.name) }}">{{ tag.name }}</a>
                    {% endif %}
                {% endfor %}
            <br>
            {% endif %}

            Added/Read: {{ doc.created.strftime("%B %d, %Y") }}<br>

            {% if doc.last_modified %}
                Last modified: {{ doc.last_modified.strftime("%B %d, %Y") }}<br>
            {% endif %}

            {% if doc.file_links %}
                {% for file_link in doc.file_links: %}
                    {% if file_link.mime_type == 'application/pdf': %}
                        File: <a href="https://www.mendeley.com/viewer/?fileId={{ file_link.file_link }}&documentId={{ doc.native_doc_id }}" target="_blank">View PDF at Mendeley</a><br>
                    {% else %}
                        File: <a href="https://www.mendeley.com/library/fileproxy?id={{ file_link.file_link }}">Download</a><br>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if doc.source_id == 3 %}
                {% if tagpage %}
                    <a href="{{ url_for('native.edit', id=doc.id, tagpage=tagpage) }}">Edit</a> |
                    <a href="{{ url_for('native.delete', id=doc.id, tagpage=tagpage) }}">Delete</a>
                {% elif authorpage %}
                    <a href="{{ url_for('native.edit', id=doc.id, authorpage=authorpage, first_name=first_name, last_name=last_name) }}">Edit</a> |
                    <a href="{{ url_for('native.delete', id=doc.id, authorpage=authorpage, first_name=first_name, last_name=last_name) }}">Delete</a>
                {% else %}
                    <a href="{{ url_for('native.edit', id=doc.id) }}">Edit</a> | <a href="{{ url_for('native.delete', id=doc.id) }}">Delete</a>
                {% endif %}
                <br>
            {% endif %}
            </span>

            {% if doc.note %}
                <span class="notes">{{ doc.note|safe }}</span>
            {% endif %}
            </div>
        {% endfor %}

    {% endif %}
    </div>
</div>

{% endblock %}
