{% extends 'header.html' %}
{% block title %} - Reset Password {% endblock %}
{% block content %}
<div id="main">
    <div class="block-center box">
        <h2>Reset Password</h2>
        <form name="login" action="{{ url_for('reset_password', hash=hash) }}" method="post">
            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
            <label class="sr-only" for="password">Password</label>
            <input class="login_form" type="password" size="20" id="password" name="password" placeholder="Password"/><br/>
            <label class="sr-only" for="confirm_password">Confirm Password</label>
            <input class="login_form" type="password" size="20" id="confirm_password" name="confirm_password" placeholder="Confirm password"/><br/>
            <button type="submit">Submit</button>
        </form>
    </div>

    <script type="text/javascript" language="JavaScript">
    document.forms['login'].elements['password'].focus();
    </script>
</div>
{% endblock %}