{% extends 'header.html' %}
{% block title %} - Change Password {% endblock %}
{% block content %}
<div id="main">
    <div class="block-center">
        <h2>Activate Your Account</h2>
        <p>Please enter a password, at least 5 characters long:</p>
        <form name="login" action="{{ url_for('main.activate') }}" method="post">
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            <label class="sr-only" for="password">Password</label>
            <input class="login_form" type="password" size="20" id="password" name="password" placeholder="Password"/><br>
            <label class="sr-only" for="confirm_password">Confirm Your Password</label>
            <input class="login_form" type="password" size="20" id="confirm_password" name="confirm_password" placeholder="Confirm password"/><br>
            <input type="hidden" name="username" value="{{username}}">
            <input type="hidden" name="email" value="{{email}}">
            <button type="submit" name="submit" value="Submit">Submit</button>&nbsp;
            <button type="submit" name="submit" value="Cancel">Cancel</button>
        </form>
    </div>

    <script type="text/javascript" language="JavaScript">
    document.forms['login'].elements['wyr_current_password'].focus();
    </script>
</div>
{% endblock %}