
{% extends 'header.html' %}
{% block title %} - Cancel Donation {% endblock %}
{% block content %}
<div id="main">
    <div class="center">
        <h2>Donate</h2>
        <div class="center">
            <p>Are you sure you want to cancel your next donation?</p>
            <form action="{{url_for('main.cancel_donation')}}" method="post" name="cancel_donation">
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            <button type="submit" name="cancel_next_donation" value="Yes">Yes</button>
            <button type="submit" name="cancel_next_donation" value="No">No</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}