{% extends 'header.html' %}
{% block content %}
<div id="main">
    <div class="center">
        <h2>Donate with Paypal</h2>
        <p class="left">Thank you for visiting this page! This site is free
            and without advertising - and always will be - but it does involve
            some time and money to operate.</p>

        <p class="left">If you feel like What You've Read has been useful to you,
            you are welcome to make a donation. Select the level below and click
            the button to use Paypal to pay with a card or through your Paypal account.</p>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="RNTAWQYZ84PGN">
            <table align="center">
                <tr><td><input type="hidden" name="on0" value="">Make a recurring donation:</td></tr><tr><td><select name="os0">
	                <option value="Option 1">Option 1 : $6.00 USD - yearly</option>
	                <option value="Option 2" selected>Option 2 : $12.00 USD - yearly</option>
	                <option value="Option 3">Option 3 : $24.00 USD - yearly</option>
	                <option value="Option 4">Option 4 : $36.00 USD - yearly</option>
                </select> </td></tr>
            </table>
            <input type="hidden" name="currency_code" value="USD">
            <input type="image" src="http://www.whatyouveread.com/static/donate_button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="business" value="kdwarn@protonmail.com">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="item_name" value="What you've read one-time donation">
            <input type="hidden" name="button_subtype" value="products">
            <input type="hidden" name="no_note" value="0">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="add" value="1">
            <input type="hidden" name="bn" value="PP-ShopCartBF:donate_button.png:NonHostedGuest">
            <table align="center">
                <tr><td><input type="hidden" name="on0" value="One-time donation">Make a one-time donation:</td></tr><tr><td><select name="os0">
                	<option value="Option 1">Option 1 $10.00 USD</option>
	                <option value="Option 2">Option 2 $25.00 USD</option>
	                <option value="Option 3">Option 3 $50.00 USD</option>
                </select> </td></tr>
            </table>
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="option_select0" value="Option 1">
            <input type="hidden" name="option_amount0" value="10.00">
            <input type="hidden" name="option_select1" value="Option 2">
            <input type="hidden" name="option_amount1" value="25.00">
            <input type="hidden" name="option_select2" value="Option 3">
            <input type="hidden" name="option_amount2" value="50.00">
            <input type="hidden" name="option_index" value="0">
            <input type="image" src="http://www.whatyouveread.com/static/donate_button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>
{% endblock %}