
{% extends 'header.html' %}
{% block title %}
    : {{doc.title}}
{% endblock %}

{% block content %}
<div id="main">
    <div style="margin-top:1rem">
    {% if current_user.is_authenticated %}
        <div class="doc">
            <div class="logo">
            {% if doc.source_id == 1 %}
                <img class="logo" src="/static/mendeley_logo.png">
            {% elif doc.source_id == 2 %}
                <img class="logo" src="/static/goodreads_logo.png">
            {% elif doc.source_id == 3 %}
                <img class="logo" src="/static/wyr_logo.png">
            {% endif %}
            </div>

            <div class="item">
            <span class="title">
            {% if doc.link %}
                <a href="{{ doc.link }}" target="_blank">{{ doc.title }}</a>
            {% else %}
                {{ doc.title }}
            {% endif %}

            {% if doc.year %}
                ({{ doc.year }})
            {% endif %}
            </span>
            <span class="authors">
            {% if doc.authors %}
                <span style="font-size:1rem;">by</span>
                {% for author in doc.authors %}
                    {% if author != doc.authors[-1] %}
                        <a href="{{ url_for('main.docs_by_author', author_id=author.id, read_status=read_status)}}">
                        {{ author.first_name }} {{ author.last_name }}</a>,
                    {% else %}
                        <a href="{{ url_for('main.docs_by_author', author_id=author.id, read_status=read_status) }}">
                            {{ author.first_name }} {{ author.last_name }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </span>
            <br>
            <span class="info">
            {% if doc.read == 1 %}
                Read: {{ doc.created.strftime("%B %d, %Y") }}<br>
            {% else %}
                <a href="{{ url_for('main.to_read') }}">To-Read</a><br>
                Added: {{ doc.created.strftime("%B %d, %Y") }}<br>
            {% endif %}

            {% if doc.tags %}
                Tagged:
                {% for tag in doc.tags|sort(attribute='name') %}
                    <span class="tags">
                    {% if tag != doc.tags|sort(attribute='name')|last %}
                        <a href="{{ url_for('main.docs_by_tag', tag=tag.name, read_status=read_status) }}">{{ tag.name }}</a>,
                    {% else %}
                        <a href="{{ url_for('main.docs_by_tag', tag=tag.name, read_status=read_status)  }}">{{ tag.name }}</a>
                    {% endif %}
                    </span>
                {% endfor %}
            <br>
            {% endif %}

            {% if doc.file_links %}
                {% for file_link in doc.file_links: %}
                    {% if file_link.mime_type == 'application/pdf': %}
                        File: <a href="https://www.mendeley.com/viewer/?fileId={{ file_link.file_link }}&documentId={{ doc.native_doc_id }}" target="_blank">View PDF at Mendeley</a><br>
                    {% else %}
                        File: <a href="https://www.mendeley.com/library/fileproxy?id={{ file_link.file_link }}">Download</a><br>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if doc.source_id == 3 %}
                <a href="{{ url_for('native.edit', id=doc.id) }}">Edit</a> |
                <a href="{{ url_for('native.delete', id=doc.id) }}">Delete</a>
            {% endif %}
            </span>

            {% if doc.notes %}
                <div class="notes">
                {% if doc.source_id == 3 and current_user.markdown == 1 %}
                    {# adjust for p wrap that Flask-Misaka throws in #}
                    <div style="margin-top:-1em">
                    {{ doc.notes|markdown }}
                    </div>
                {% elif doc.source_id == 1 or doc.source_id == 2 %}
                    {# let notes from Mendeley and Goodreads use html #}
                    {{ doc.notes|safe }}
                {% else %}
                    {# if user disabled markdown, at least allow <br> #}
                    <div style="margin-top:-1em">
                    {{ doc.notes|nl2br }}
                    </div>
                {% endif %}
                </div>
            {% endif %}
            </div>
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}
