
{% extends 'header.html' %}
{% block title %} - Screenshots {% endblock %}
{% block content %}
<div id="main">
    <div>
        <p>Main display. For Goodreads, the title will link back
        to the book's page. For Mendeley, if you have a pdf file attached
        to the item, you will be able to view it via Mendeley's web viewer. Non-pdfs
        will be available for download. For bookmarks you've imported and items
        you've saved individually, titles will link to any url provided.</p>
        <a href="/static/main.jpg"><img src="/static/main.jpg"></a>
        <br><br>
        <p>Adding a document:</p>
        <a href="/static/add.jpg"><img src="/static/add.jpg"></a>
        <br><br>
        <p>Like what you see? Sign up <a href="{{url_for('main.index')}}">here.</a></p>
    </div>

</div>
{% endblock %}