<!-- TODO: add link to deauthorize client -->
{% extends 'header.html' %}
{% block title %} - Settings {% endblock %}
{% block content %}
<div id="main" class="block-center">
    <div class="box">
        <h2>Account Settings for {{ current_user.username }}</h2>
        <p><a href="{{ url_for('main.change_password') }}">Change Password</a></p>
        <p><a href="{{ url_for('main.change_email') }}">Change Email</a></p>
        <p><a href="{{ url_for('main.donate') }}">Donations</a></p>
        <p><a href="{{ url_for('main.delete_account') }}">Delete Account</a></p>
    </div>
    <br>
    <div class="box">
        <h2>Preferences</h2>
        <form method="POST" name="edit" action=" {{url_for('main.settings') }}">
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            Auto-close browser tab/window after adding a new item from bookmarklet?<br>
            {% if current_user.auto_close == 1 %}
                <input type="radio" name="auto_close" id="auto_close" value="1" CHECKED>Yes
                <input type="radio" name="auto_close" id="auto_close" value="0">No
            {% else %}
                <input type="radio" name="auto_close" id="auto_close" value="1">Yes
                <input type="radio" name="auto_close" id="auto_close" value="0" CHECKED>No
            {% endif %}

            <br><br>Enable markdown* for notes on WYR native items?<br>
            {% if current_user.markdown == 1 %}
                <input type="radio" name="markdown" id="markdown" value="1" CHECKED>Yes
                <input type="radio" name="markdown" id="markdown" value="0">No
            {% else %}
                <input type="radio" name="markdown" id="markdown" value="1">Yes
                <input type="radio" name="markdown" id="markdown" value="0" CHECKED>No
            {% endif %}

            {% if current_user.mendeley == 1 %}
                <br><br>
                Include unread items from Mendeley?<br>
                {% if current_user.include_m_unread == 1 %}
                    <input type="radio" name="include_m_unread" id="include_m_unread" value="1" CHECKED>Yes
                    <input type="radio" name="include_m_unread" id="include_m_unread" value="0">No
                    <input type="hidden" name="old_include_m_unread" value="1">
                {% else %}
                    <input type="radio" name="include_m_unread" id="include_m_unread" value="1">Yes
                    <input type="radio" name="include_m_unread" id="include_m_unread" value="0" CHECKED>No
                    <input type="hidden" name="old_include_m_unread" value="0">
                {% endif %}
            {% endif %}
            {% if current_user.goodreads == 1 %}
                <br><br>
                Include "Want to Read" shelf from Goodreads?<br>
                {% if current_user.include_g_unread == 1 %}
                    <input type="radio" name="include_g_unread" id="include_m_unread" value="1" CHECKED>Yes
                    <input type="radio" name="include_g_unread" id="include_m_unread" value="0">No
                    <input type="hidden" name="old_include_g_unread" value="1">
                {% else %}
                    <input type="radio" name="include_g_unread" id="include_m_unread" value="1">Yes
                    <input type="radio" name="include_g_unread" id="include_m_unread" value="0" CHECKED>No
                    <input type="hidden" name="old_include_g_unread" value="0">
                {% endif %}
            {% endif %}
            <br><br>
            <button type="submit" name="submit" value="Submit">Save</button>
            <br>
            <p class="info left">*Markdown allows simple formatting. See
            <a href="https://en.wikipedia.org/wiki/Markdown" target="_blank">this</a> for
            additional information.</p>
        </form>
    </div>
    <br>
    <div class="box">
        <h2>External Sources</h2>
        <p>Mendeley |
        {% if current_user.mendeley == 1 %}
            Authorized &#10003; &nbsp;
            <a href="{{ url_for('main.deauthorize', name='Mendeley') }}">Deauthorize</a> |
            <a href="{{ url_for('main.refresh', name='Mendeley') }}">Refresh</a>
        {% else %}
            <a href="{{ url_for('mendeley.mendeley_login') }}">Authorize</a>
        {% endif %}
        </p>
        <p>Goodreads |
        {% if current_user.goodreads == 1 %}
            Authorized &#10003; &nbsp;
            <a href="{{ url_for('main.deauthorize', name='Goodreads') }}">Deauthorize</a> |
            <a href="{{ url_for('main.refresh', name='Goodreads') }}">Refresh</a>
        {% else %}
            <a href="{{ url_for('goodreads.goodreads_login') }}">Authorize</a>
        {% endif %}
        </p>
        <p class="info left">Note: What You've Read will only check for changes
        1 week since the last time it did so. So, if you load the site, make a change
        on one of these sources,
        and then immediately re-load to see the change, it won't be there unless
        you manually refresh it, by clicking on the "Refresh" link next to the source.</p>
        <p class="info left">Also note: You must empty your Mendeley trash in order
        for deleted items from Mendeley to be removed here.</p>
    </div>
    <br>
    <div class="box">
        <h2>Import Bookmarks</h2>
        <p class="left"><a href="{{url_for('native.import_bookmarks')}}">Bring your bookmarks</a> from your
        browser or social bookmarking sites to What You've Read. (You will be able to choose which
        folders will be imported.)</p>
    </div>
    <br>
    <div class="box">
        <h2>Bookmarklet</h2>
        <p class="left">If you want to be able to quickly
        <a href="{{url_for('native.add')}}">add</a> things to
        What You've Read, drag this link (<a href="javascript:(function(){window.open('http://www.whatyouveread.com/add?link='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title)); })();">wyr</a>)
        to your bookmarks bar and click it anytime you are on a page you want to
        save. It will open a form (with title and URL pre-populated) to add
        a new item. Fill in any additional information (like author, year, and tags)
        and submit it.</p>
    </div>
    <br>
    <div class="box">
        <h2>Third Party Apps</h2>
        {% if current_user.apps: %}
            {% for app in current_user.apps %}
                {{ app.name }}
            {% endfor %}
        {% else %}
            You haven't authorized any third-party apps.
        {% endif %}
    </div>
    <br>
    <div class="box">
        <h2>Developers</h2>
        <p class="left">If you are a developer and would like to create a third-party app,
            please register it <a href="{{url_for('api.clients')}}">here</a>. View
            the API documentation <a href="{{url_for('api.api_doc')}}">here</a>.
        </p>
    </div>
    <br><br><br>
</div>
{% endblock %}